
.slide {
    position: relative; 
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}


.slide-img {
    display: flex;
    position: absolute; /* Asegura que las imágenes estén alineadas dentro del contenedor */
    width: 300%; /* 3 imágenes se alinean horizontalmente (100% * 3) */
    height: 100%; /* Ocupa toda la altura del contenedor */
    transition: transform 0.5s ease-in-out; /* Desplaza las imágenes suavemente */
}

/* Imágenes dentro del slider */
.slide-img img {
    width: 33.33%; /* Cada imagen ocupa un tercio del contenedor */
    height: 100%; /* Las imágenes ocupan toda la altura del contenedor */
    object-fit: cover; /* Asegura que las imágenes cubran el contenedor sin distorsionarse */
}

/* Contenido dentro del slider (texto y botones) */
.slide-content {
    z-index: 2;
    position: absolute;
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajuste para asegurar un centrado perfecto */
    text-align: center;
    color: white;
}

/* Controles de navegación */
.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 3; 
    
    /* Asegura que los controles estén encima de las imágenes */
}

.control.prev {
    left: 20px;
}

.control.next {
    right: 20px;
}
